* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    font-size: 12px;
    line-height: 22px;
}

.header { 
    height: 50px;
    grid-area: header; 
}

.menu { 
    grid-area: menu; 
}

.main { 
    grid-area: main;

}

.main .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.main .products .item {
    border: 1px solid black;
    display: grid;
    height: auto;
    grid-template-areas: 
        'product-image'
        'product-name'
        'product-price'
        'product-promo';
}

.main .products .item .product-name {
    grid-area: product-name;
    font-size: 13px;
    color: #333;
    font-weight: 700;
    height: auto;
}

.main .products .item .product-price {
    grid-area: product-price;
    font-size: 15px;
    font-weight: 700;
    color: #e11b1e;
}


.main .products .item .product-promo {
    grid-area: product-promo;
    line-height: 15px;
    text-transform: lowercase;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    color: #333;
}

.main .products .item .product-image {
    grid-area: product-image;
}

.main .products .item .product-image > img{
    width: 100px;
    height: auto;
    grid-area: product-image;
}

.footer { 
    height: 100px;
    grid-area: footer; 
    bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  grid-template-rows: 50px auto 100px;
  grid-gap: 10px;
  padding: 10px;
  height: calc(100vh);
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}